<form id="locator-practice" data-form-type="locator-update" data-form-validate="true">
    <div class="form-group--line">
      <div class="form-item">
        <label class="headUp" for="name">Practice Name*</label>
        <input name="name" id="name" type="text" class="Form__Input" placeholder="Practice Name"{% if customer.metafields.practice.name != blank %} value="{{ customer.metafields.practice.name }}"{% endif %}required>
      </div>
      
      <div class="form-item">
        <label class="headUp" for="type">Practice Type*</label>
        <select id="type" name="type" class="Form__Input" required>
          <option value=""{% if customer.metafields.practice.type == blank %} selected{% endif %} disabled>Select one...</option>
          <option value="Acupuncturist"{% if customer.metafields.practice.type == "Acupuncturist" %} selected{% endif %}>Acupuncturist</option>
          <option value="Chiropractor"{% if customer.metafields.practice.type == "Chiropractor" %} selected{% endif %}>Chiropractor</option>
          <option value="Dentist"{% if customer.metafields.practice.type == "Dentist" %} selected{% endif %}>Dentist</option>
          <option value="Dermatologist"{% if customer.metafields.practice.type == "Dermatologist" %} selected{% endif %}>Dermatologist</option>
          <option value="Esthetician"{% if customer.metafields.practice.type == "Esthetician" %} selected{% endif %}>Esthetician</option>
          <option value="General Medical Practice"{% if customer.metafields.practice.type == "General Medical Practice" %} selected{% endif %}>General Medical Practice</option>
          <option value="Massage Therapist"{% if customer.metafields.practice.type == "Massage Therapist" %} selected{% endif %}>Massage Therapist</option>
          <option value="Med Spa"{% if customer.metafields.practice.type == "Med Spa" %} selected{% endif %}>Med Spa</option>
          <option value="Plastic Surgeon"{% if customer.metafields.practice.type == "Plastic Surgeon" %} selected{% endif %}>Plastic Surgeon</option>
          <option value="Other"{% if customer.metafields.practice.type == "Other" %} selected{% endif %}>Other</option>
        </select>
      </div>
    </div>
    
    <div class="form-item" data-type="image-upload-group">
      <label class="headUp" for="logo">Practice Logo</label>
        <label for="logo" class="image-preview--wrapper{% unless customer.metafields.practice.logo != blank %} hidden{% endunless %}">
          <div data-option-control="logo-replace" data-type="image-preview" class="location-logo--preview">
            <div class="location-logo-replace--overlay">Replace Image...</div>
            <img loading="lazy" src="{{ customer.metafields.practice.logo.value | img_url: '400x400' }}" width=200 >
          </div>
        </label>
        <label for="logo" class="Button Button--stroke">{% unless customer.metafields.practice.logo != blank %}Select{% else %}Replace{% endunless %}</label>
        <button class="Button Button--stroke Button--delete{% unless customer.metafields.practice.logo != blank %} hidden{% endunless %}" data-option-control="logo-remove">Remove Logo</button>
        <input data-option-control="logo-upload" type="file" name="logo" id="logo" class="hidden" accept="*/image" >
        <input type="checkbox" name="remove_logo" id="remove_logo" class="hidden" data-option-for="remove_image">
    </div>

    <div class="form-item">
      {% assign short_description_rte = nil %}
      {% if customer.metafields.practice.short_description %}
        {% capture short_description_cap %}
          {{ customer.metafields.practice.short_description | metafield_tag }}
        {% endcapture %}
        {% assign short_description_rte = short_description_cap %}
      {% endif %}

      <label class="headUp" for="short_description">Short Description*</label>
      <textarea class="Form__Input hidden" name="short_description" id="short_description" placeholder="Enter your short description here..." required {% if customer.metafields.practice.short_description %} value="{{ short_description_rte | strip | replace: '<span class="metafield-multi_line_text_field">', '' | replace: '</span>', '' }}"{% endif %}>{% if customer.metafields.practice.short_description %}{{ short_description_rte | strip | replace: '<span class="metafield-multi_line_text_field">', '' | replace: '</span>', '' }}{% endif %}</textarea>
      <div contenteditable="true" class="Form__Input{% unless short_description_rte %} placeholder-shown{% endunless %}" data-input-controller="short_description" name="short-description-editor" id="short-description-editor">
        {% if short_description_rte %}
          {{ short_description_rte }}
        {% else %}
          Enter your short description here...
        {% endif %}
      </div>
    </div>
    
    <div class="form-item">
      {% assign description_rte = nil %}
      {% if customer.metafields.practice.full_description %}
        {% capture description_cap %}
          {{ customer.metafields.practice.full_description | metafield_tag }}
        {% endcapture %}
        {% assign description_rte = description_cap %}
      {% endif %}

      <label class="headUp" for="full_description">Full Description*</label>
      <textarea class="Form__Input hidden" name="full_description" id="full_description" placeholder="Enter your description here..." required {% if customer.metafields.practice.full_description %} value="{{ description_rte | strip | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' }}"{% endif %}>{% if customer.metafields.practice.full_description %}{{ description_rte | strip | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' }}{% endif %}</textarea>
      <div contenteditable="true" class="Form__Input{% unless description_rte %} placeholder-shown{% endunless %}" data-input-controller="full_description" name="description-editor" id="description-editor">
        {% if description_rte %}
          {{ description_rte }}
        {% else %}
          Enter your description here...
        {% endif %}
      </div>
    </div>
    
    <div class="form-group--line">
      <div class="form-item">
        <label class="headUp" for="website" data-validation-type="url">Website*</label>
        <input name="website" id="website" type="text" class="Form__Input" placeholder="https://website.com"{% if customer.metafields.practice.website != blank %} value="{{ customer.metafields.practice.website }}"{% endif %} required>
      </div>

      <div class="form-item">
        <label class="headUp" for="online_sales_link" data-validation-type="url">Link To Online Store</label>
        <input name="online_sales_link" id="online_sales_link" type="text" class="Form__Input" placeholder="https://website.com/shop"{% if customer.metafields.practice.online_sales_link != blank %} value="{{ customer.metafields.practice.online_sales_link }}"{% endif %}>
      </div>
    </div>
  
    <div class="form-group--line">
      <div class="form-item">
        <label class="headUp" for="instagram">Instagram URL</label>
        <input name="instagram" id="instagram" type="text" class="Form__Input" placeholder="https://instagram.com/yourprofile"{% if customer.metafields.practice.instagram != blank %} value="{{ customer.metafields.practice.instagram }}"{% endif %}>
      </div>
      
      <div class="form-item">
        <label class="headUp" for="facebook">Facebook URL</label>
        <input name="facebook" id="facebook" type="text" class="Form__Input" placeholder="https://facebook.com/yourprofile"{% if customer.metafields.practice.facebook != blank %} value="{{ customer.metafields.practice.facebook }}"{% endif %}>
      </div>
      
      <div class="form-item">
        <label class="headUp" for="tiktok">TikTok URL</label>
        <input name="tiktok" id="tiktok" type="text" class="Form__Input" placeholder="https://tiktok.com/@yourprofile"{% if customer.metafields.practice.tiktok != blank %} value="{{ customer.metafields.practice.tiktok }}"{% endif %}>
      </div>
    </div>
    
    <div class="form-group--line">
      <div class="form-item">
        <label class="headUp" for="twitter">Twitter URL</label>
        <input name="twitter" id="twitter" type="text" class="Form__Input" placeholder="https://twitter.com/yourprofile"{% if customer.metafields.practice.twitter != blank %} value="{{ customer.metafields.practice.twitter }}"{% endif %}>
      </div>
      
      <div class="form-item">
        <label class="headUp" for="realself">Realself URL</label>
        <input name="realself" id="realself" type="text" class="Form__Input" placeholder="https://realself.com/dr/yourprofile"{% if customer.metafields.practice.realself != blank %} value="{{ customer.metafields.practice.realself }}"{% endif %}>
      </div>
      
      <div class="form-item">
        <label class="headUp" for="yelp">Yelp URL</label>
        <input name="yelp" id="yelp" type="text" class="Form__Input" placeholder="https://yelp.com/biz/yourprofile"{% if customer.metafields.practice.yelp != blank %} value="{{ customer.metafields.practice.yelp }}"{% endif %}>
      </div>
    </div>
    
    <button type="submit" class="Button Button--primary" disabled>{% if has_practice_data %}Save Updates{% else %}Save Practice Details{% endif %}</button>
</form>