{% if product.metafields.related.collateral %}
    <div class="mt2">
        <h3 class="Heading u-h4 related-collateral--title">Sales Collateral:</h3>
        {% for item in product.metafields.related.collateral.value %}
            <a class="related-collateral--item" href="{{ item.url }}">
                <div class="related-collateral--image-wrap">
                    <img src="{{ item.featured_image | img_url: '150x' }}" alt="{{ item.title }}">
                </div>
                <div class="related-collateral--content-wrap">
                    <h4 class="Heading u-h5 mt0 mb0">{{ item.title }}</h4>
                    <div class="ProductMeta__PriceList Heading">
                        <span class="ProductMeta__Price Price Text--subdued u-h2 lightWeight" data-money-convertible="">{{ item.price | money_without_trailing_zeros }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %} 