<section class="Section {% unless section.settings.image %}Section--spacingNormal{% endunless %}">
    {%- capture section_content -%}
      <div class="FeatureText__ContentWrapper">
        <div class="FeatureText__Content">
          {%- if section.settings.subheading != blank or section.settings.title != blank -%}
            <header class="SectionHeader">
              {%- if section.settings.subheading != blank -%}
                <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
              {%- endif -%}
  
              {%- if section.settings.title != blank -%}
                <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
              {%- endif -%}
  
              {%- if section.settings.content != blank -%}
                
                  {{ section.settings.content }}
                    <div class="ButtonGroup ButtonGroup--spacingSmall  ss-buttons--left"><a href="/products/anteage-skin-fitness-kit" class="ButtonGroup__Item Button" data-live-text-setting="section.1588375533249.block.c364fe6c-1337-4cfc-867c-1450622e7f4f.button_1_text/escape">Learn More</a></div>

                
              {%- endif -%}
  
              {%- if section.settings.link_text != blank -%}
                <a href="{{ section.settings.link_url }}" class="class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %}">{{ section.settings.link_text | escape }}</a>
              {%- endif -%}
            </header>
          {%- endif -%}
        </div>
      </div>
    {%- endcapture -%}
  
    {%- capture section_image -%}
      {%- if section.settings.image != blank -%}
        <div class="FeatureText__ImageWrapper">
          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1200', image: section.settings.image -%}{%- endcapture -%}
  
          <div class="AspectRatio" style="max-width: {{ section.settings.image.width }}px; --aspect-ratio: {{ section.settings.image.aspect_ratio }}">
            {%- assign image_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="Image--lazyLoad Image--slide{{ section.settings.image_position | capitalize }}" data-src="{{ image_url }}" data-expand="-200" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ section.settings.image.alt | escape }}">
  
            <noscript>
              <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt | escape }}">
            </noscript>
          </div>
        </div>
      {%- endif -%}
    {%- endcapture -%}
  
    <div class="FeatureText {% if section.settings.image != blank %}FeatureText--withImage FeatureText--image{{ section.settings.image_position | capitalize }}{% endif %}">
      {%- if section.settings.image_position == 'left' -%}
        {{- section_image -}}
        {{- section_content -}}
      {%- else -%}
        {{- section_content -}}
        {{- section_image -}}
      {%- endif -%}
    </div>
  </section>
  
  {% schema %}
  {
    "name": "Rich text with image",
    "class": "shopify-section--bordered",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub-heading",
        "default": "Sub-heading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1200 x 1200px .png recommended"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Link text"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "Rich text with image",
        "settings": {}
      }
    ]
  }
  {% endschema %}
  <style>
      @media screen and (min-width: 641px){
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper {
        background: url("https://cdn.shopify.com/s/files/1/0006/7230/1119/files/fitness_flowers.png?v=1651180080");
        background-repeat:no-repeat;
        background-size: 100%;
        background-position:center;
        
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > h2{
          font-family: 'Spring';
          font-size: 7vw;
          color: #f0ec6b;
          font-weight: 100;
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div {
        text-align: right;
        position: absolute;
        
        
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > p{        text-align: center;
        color: white;
        font-size: 3vw;
        position: absolute;
        font-weight: 800;
        left: 18%;
        width: 100%;
        bottom: 20%;
      }
      #shopify-section-fitnesskit-section1 > section {
          border-bottom: 4px solid #f0ec6b;
      }  
    }
    #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper {
        background: url("https://cdn.shopify.com/s/files/1/0006/7230/1119/files/fitness_flowers.png?v=1651180080");
        background-repeat:no-repeat;
        background-size: 100%;
        background-position:center;
        
        
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > h2{
          font-family: 'Spring';
          font-size: 7vw;
          color: #f0ec6b;
          font-weight: 100;
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div {
        text-align: right;
        position: absolute;
        
        
      }
      #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > p{        text-align: center;
        color: white;
        font-size: 3vw;
        position: absolute;
        font-weight: 800;
        left: 18%;
        width: 100%;
        bottom: 31%;
      }
      #shopify-section-fitnesskit-section1 > section {
          border-bottom: 4px solid #f0ec6b;
      }
      @media screen and (max-width: 640px){
        #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper{
          background-position: top;
          height: 400px;
          
        }
        #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > h2{
          font-size: 5em;
        }
        #shopify-section-fitnesskit-section1 > section > div > div.FeatureText__ContentWrapper > div > header > p{
          font-size: 2em;
        }
       
      }
      @media screen and (max-width: 640px){ 
        #shopify-section-fitnesskit-section1 > section {
          display: none;
        }
      }
     
      #section-fitness-banner .Heading{
        color: #353670 !important;
        }
        #Slidea71bff04-467d-4821-952f-54eba1ea56b9 > div.Slideshow__Content.Slideshow__Content--bottomCenter.div_bottom-fix > header > p{        
        color: #353670 !important;
      }
      @media screen and (min-width: 641px){
        #section-fitness-banner{
          display: none;
        }
      }
  </style>