{% assign has_practice_data = false %}
{% if customer.metafields.practice.name != blank and customer.metafields.practice.type != blank and customer.metafields.practice.short_description != blank and customer.metafields.practice.full_description != blank and customer.metafields.practice.website != blank %}
  {% assign has_practice_data = true %}
{% endif %}

<div class="Container Container--narrow locator-details">
    <header class="PageHeader mb0">
      <a href="/account/" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">Back to account</a>
  
      <div class="SectionHeader mb0">
        <h1 class="SectionHeader__Heading Heading u-h1">Provider Locator Information</h1>
      </div>
    </header>
    <p class="mt1 mb2">{{ page.content }}</p>

    <div class="details-panel mt4">
      <h2 class="SectionHeader__Heading Heading u-h1">Practice Information</h2>
      <hr class="mt2 mb2">

      <form id="locator-practice" data-form-validate="true">
        <div class="form-group--line">
          <div class="form-item">
            <label class="headUp" for="name">Practice Name*</label>
            <input name="name" id="name" type="text" class="Form__Input" placeholder="Practice Name"{% if customer.metafields.practice.name != blank %} value="{{ customer.metafields.practice.name }}"{% endif %}required>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="type">Practice Type*</label>
            <select id="type" name="type" class="Form__Input" required>
              <option value=""{% if customer.metafields.practice.type == blank %} selected{% endif %} disabled>Select one...</option>
              <option value="Acupuncturist"{% if customer.metafields.practice.type == "Acupuncturist" %} selected{% endif %}>Acupuncturist</option>
              <option value="Chiropractor"{% if customer.metafields.practice.type == "Chiropractor" %} selected{% endif %}>Chiropractor</option>
              <option value="Dentist"{% if customer.metafields.practice.type == "Dentist" %} selected{% endif %}>Dentist</option>
              <option value="Dermatologist"{% if customer.metafields.practice.type == "Dermatologist" %} selected{% endif %}>Dermatologist</option>
              <option value="Esthetician"{% if customer.metafields.practice.type == "Esthetician" %} selected{% endif %}>Esthetician</option>
              <option value="General Medical Practice"{% if customer.metafields.practice.type == "General Medical Practice" %} selected{% endif %}>General Medical Practice</option>
              <option value="Massage Therapist"{% if customer.metafields.practice.type == "Massage Therapist" %} selected{% endif %}>Massage Therapist</option>
              <option value="Med Spa"{% if customer.metafields.practice.type == "Med Spa" %} selected{% endif %}>Med Spa</option>
              <option value="Plastic Surgeon"{% if customer.metafields.practice.type == "Plastic Surgeon" %} selected{% endif %}>Plastic Surgeon</option>
              <option value="Other"{% if customer.metafields.practice.type == "Other" %} selected{% endif %}>Other</option>
            </select>
          </div>
        </div>
        
        <div class="form-item" data-type="image-upload-group">
          <label class="headUp" for="logo">Practice Logo</label>
            <label for="logo" class="image-preview--wrapper{% unless customer.metafields.practice.logo != blank %} hidden{% endunless %}">
              <div data-option-control="logo-replace" data-type="image-preview" class="location-logo--preview">
                <div class="location-logo-replace--overlay">Replace Image...</div>
                <img loading="lazy" src="{{ customer.metafields.practice.logo.value | img_url: '400x400' }}" width=200 >
              </div>
            </label>
            <label for="logo" class="Button Button--stroke">{% unless customer.metafields.practice.logo != blank %}Select{% else %}Replace{% endunless %}</label>
            <button class="Button Button--stroke Button--delete{% unless customer.metafields.practice.logo != blank %} hidden{% endunless %}" data-option-control="logo-remove">Remove Logo</button>
            <input data-option-control="logo-upload" type="file" name="logo" id="logo" class="hidden" accept="*/image" >
            <input type="checkbox" id="remove_logo">
        </div>
    
        <div class="form-item">
          {% assign short_description_rte = nil %}
          {% if customer.metafields.practice.short_description %}
            {% capture short_description_cap %}
              {{ customer.metafields.practice.short_description | metafield_tag }}
            {% endcapture %}
            {% assign short_description_rte = short_description_cap %}
          {% endif %}

          <label class="headUp" for="short_description">Short Description*</label>
          <textarea class="Form__Input hidden" name="short_description" id="short_description" placeholder="Enter your short description here..." required {% if customer.metafields.practice.short_description %} value="{{ short_description_rte | strip | replace: '<span class="metafield-multi_line_text_field">', '' | replace: '</span>', '' }}"{% endif %}>{% if customer.metafields.practice.short_description %}{{ short_description_rte | strip | replace: '<span class="metafield-multi_line_text_field">', '' | replace: '</span>', '' }}{% endif %}</textarea>
          <div contenteditable="true" class="Form__Input{% unless short_description_rte %} placeholder-shown{% endunless %}" data-input-controller="short_description" name="short-description-editor" id="short-description-editor">
            {% if short_description_rte %}
              {{ short_description_rte }}
            {% else %}
              Enter your short description here...
            {% endif %}
          </div>
        </div>
        
        <div class="form-item">
          {% assign description_rte = nil %}
          {% if customer.metafields.practice.full_description %}
            {% capture description_cap %}
              {{ customer.metafields.practice.full_description | metafield_tag }}
            {% endcapture %}
            {% assign description_rte = description_cap %}
          {% endif %}

          <label class="headUp" for="full_description">Full Description*</label>
          <textarea class="Form__Input hidden" name="full_description" id="full_description" placeholder="Enter your description here..." required {% if customer.metafields.practice.full_description %} value="{{ description_rte | strip | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' }}"{% endif %}>{% if customer.metafields.practice.full_description %}{{ description_rte | strip | replace: '<div class="metafield-rich_text_field">', '' | replace: '</div>', '' }}{% endif %}</textarea>
          <div contenteditable="true" class="Form__Input{% unless description_rte %} placeholder-shown{% endunless %}" data-input-controller="full_description" name="description-editor" id="description-editor">
            {% if description_rte %}
              {{ description_rte }}
            {% else %}
              Enter your description here...
            {% endif %}
          </div>
        </div>
        
        <div class="form-group--line">
          <div class="form-item">
            <label class="headUp" for="website" data-validation-type="url">Website*</label>
            <input name="website" id="website" type="text" class="Form__Input" placeholder="https://website.com"{% if customer.metafields.practice.website != blank %} value="{{ customer.metafields.practice.website }}"{% endif %} required>
          </div>

          <div class="form-item">
            <label class="headUp" for="online_sales_link" data-validation-type="url">Link To Online Store</label>
            <input name="online_sales_link" id="online_sales_link" type="text" class="Form__Input" placeholder="https://website.com/shop"{% if customer.metafields.practice.online_sales_link != blank %} value="{{ customer.metafields.practice.online_sales_link }}"{% endif %}>
          </div>
        </div>
      
        <div class="form-group--line">
          <div class="form-item">
            <label class="headUp" for="instagram">Instagram URL</label>
            <input name="instagram" id="instagram" type="text" class="Form__Input" placeholder="https://instagram.com/yourprofile"{% if customer.metafields.practice.instagram != blank %} value="{{ customer.metafields.practice.instagram }}"{% endif %}>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="facebook">Facebook URL</label>
            <input name="facebook" id="facebook" type="text" class="Form__Input" placeholder="https://facebook.com/yourprofile"{% if customer.metafields.practice.facebook != blank %} value="{{ customer.metafields.practice.facebook }}"{% endif %}>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="tiktok">TikTok URL</label>
            <input name="tiktok" id="tiktok" type="text" class="Form__Input" placeholder="https://tiktok.com/@yourprofile"{% if customer.metafields.practice.tiktok != blank %} value="{{ customer.metafields.practice.tiktok }}"{% endif %}>
          </div>
        </div>
        
        <div class="form-group--line">
          <div class="form-item">
            <label class="headUp" for="twitter">Twitter URL</label>
            <input name="twitter" id="twitter" type="text" class="Form__Input" placeholder="https://twitter.com/yourprofile"{% if customer.metafields.practice.twitter != blank %} value="{{ customer.metafields.practice.twitter }}"{% endif %}>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="realself">Realself URL</label>
            <input name="realself" id="realself" type="text" class="Form__Input" placeholder="https://realself.com/dr/yourprofile"{% if customer.metafields.practice.realself != blank %} value="{{ customer.metafields.practice.realself }}"{% endif %}>
          </div>
          
          <div class="form-item">
            <label class="headUp" for="yelp">Yelp URL</label>
            <input name="yelp" id="yelp" type="text" class="Form__Input" placeholder="https://yelp.com/biz/yourprofile"{% if customer.metafields.practice.yelp != blank %} value="{{ customer.metafields.practice.yelp }}"{% endif %}>
          </div>
        </div>
        
        <button type="submit" class="Button Button--primary" disabled>{% if has_practice_data %}Save Updates{% else %}Save Practice Details{% endif %}</button>
      </form>
    </div>

    <div class="details-panel">
      <h2 class="SectionHeader__Heading Heading u-h1">Locations</h2>
      <hr class="mt2 mb2">
      <div class="locations-wrapper">
        {% for location in customer.metafields.practice.locations_json.value %}
          <div class="location-item">
            <div class="location-image--outer">
              <div class="location-image--wrap{% unless location.hero_image != blank %} placeholder-image{% endunless %}">
                {% if location.hero_image != blank %}
                  <img src="{{ location.hero_image }}">
                {% else %}
                  <h3 class="Heading u-h2 mt0 mb0 centerContents">Click Edit Upload Your Image...</h3>
                {% endif %}
              </div>
            </div>
            <div class="mt1">
              <h3 class="Heading u-h2 mb0">{{ customer.metafields.practice.name }} - {{ location.city }}</h3>
              <div class="location-address--details">{{ location.address_1 }}{% if location.address_2 %} {{ location.address_2 }}{% endif %}</div>
              <div class="location-address--details">{{ location.city }}, {{ location.state }} {{ location.zip }}</div>
              <div class="location-address--details">{{ location.country }}</div>
              <button class="location-edit mt1" data-edit-target="{{ location.location_id }}">
                Edit
              </button>
            </div>
          </div>
        
        {% endfor %}
        {% comment %} <div class="location-item">
          <div class="location-image--outer">
            <div class="location-image--wrap">
              <img src="https://7051882.fs1.hubspotusercontent-na1.net/hubfs/7051882/Provider%20Locator%20-%20Provider%20Assets/Salt-Lake-City-900x730-1.png">
            </div>
          </div>
          <div class="mt1">
            <h3 class="Heading u-h2 mb0">Location Title</h3>
            <div class="location-address--details">123 Main Street</div>
            <div class="location-address--details">City, State 10110</div>
            <div class="location-address--details">Country</div>
            <button class="location-edit mt1">
              Edit
            </button>
          </div>
        </div> {% endcomment %}

        <div class="location-item new-location">
          <h3 class="Heading u-h1">+<br>Add A Location</h3>
        </div>

      </div>
  </div>
</div> 

<div class="add-location-modal modal-container">
  <button data-action="close-parent-modal">
    Close
  </button>

  <div class="Container Container--narrow">
    <h2 class="Heading u-h1">
      Add A Location
    </h2>
    <hr class="mt2 mb2">
    <form id="locator-location-add" class="locator-location">
      <div class="form-item">
        <label class="headUp" for="country">Country:</label>
        <input type="text" id="country" list="country-list" name="country" placeholder="Country" class="Form__Input" required>
        <datalist id="country-list">
          <option value="Afghanistan">Afghanistan</option>
          <option value="Aland Islands">Åland Islands</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American Samoa">American Samoa</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antarctica">Antarctica</option>
          <option value="Antigua and Barbuda">Antigua & Barbuda</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas">Bahamas</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bermuda">Bermuda</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bonaire, Sint Eustatius and Saba">Caribbean Netherlands</option>
          <option value="Bosnia and Herzegovina">Bosnia & Herzegovina</option>
          <option value="Botswana">Botswana</option>
          <option value="Bouvet Island">Bouvet Island</option>
          <option value="Brazil">Brazil</option>
          <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
          <option value="Brunei Darussalam">Brunei</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Cayman Islands">Cayman Islands</option>
          <option value="Central African Republic">Central African Republic</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Christmas Island">Christmas Island</option>
          <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
          <option value="Colombia">Colombia</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo">Congo - Brazzaville</option>
          <option value="Congo, Democratic Republic of the Congo">Congo - Kinshasa</option>
          <option value="Cook Islands">Cook Islands</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cote D'Ivoire">Côte d’Ivoire</option>
          <option value="Croatia">Croatia</option>
          <option value="Cuba">Cuba</option>
          <option value="Curacao">Curaçao</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czechia</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Falkland Islands (Malvinas)">Falkland Islands (Islas Malvinas)</option>
          <option value="Faroe Islands">Faroe Islands</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="French Guiana">French Guiana</option>
          <option value="French Polynesia">French Polynesia</option>
          <option value="French Southern Territories">French Southern Territories</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Gibraltar">Gibraltar</option>
          <option value="Greece">Greece</option>
          <option value="Greenland">Greenland</option>
          <option value="Grenada">Grenada</option>
          <option value="Guadeloupe">Guadeloupe</option>
          <option value="Guam">Guam</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guernsey">Guernsey</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guinea-Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Heard Island and Mcdonald Islands">Heard & McDonald Islands</option>
          <option value="Holy See (Vatican City State)">Vatican City</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran, Islamic Republic of">Iran</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Isle of Man">Isle of Man</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jersey">Jersey</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Korea, Democratic People's Republic of">North Korea</option>
          <option value="Korea, Republic of">South Korea</option>
          <option value="Kosovo">Kosovo</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Lao People's Democratic Republic">Laos</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libyan Arab Jamahiriya">Libya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macao">Macao</option>
          <option value="Macedonia, the Former Yugoslav Republic of">North Macedonia</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Marshall Islands">Marshall Islands</option>
          <option value="Martinique">Martinique</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mayotte">Mayotte</option>
          <option value="Mexico">Mexico</option>
          <option value="Micronesia, Federated States of">Micronesia</option>
          <option value="Moldova, Republic of">Moldova</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Myanmar">Myanmar (Burma)</option>
          <option value="Namibia">Namibia</option>
          <option value="Nauru">Nauru</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Netherlands Antilles">Curaçao</option>
          <option value="New Caledonia">New Caledonia</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Niue">Niue</option>
          <option value="Norfolk Island">Norfolk Island</option>
          <option value="Northern Mariana Islands">Northern Mariana Islands</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palau">Palau</option>
          <option value="Palestinian Territory, Occupied">Palestine</option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Pitcairn">Pitcairn Islands</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Puerto Rico">Puerto Rico</option>
          <option value="Qatar">Qatar</option>
          <option value="Reunion">Réunion</option>
          <option value="Romania">Romania</option>
          <option value="Russian Federation">Russia</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Saint Barthelemy">St. Barthélemy</option>
          <option value="Saint Helena">St. Helena</option>
          <option value="Saint Kitts and Nevis">St. Kitts & Nevis</option>
          <option value="Saint Lucia">St. Lucia</option>
          <option value="Saint Martin">St. Martin</option>
          <option value="Saint Pierre and Miquelon">St. Pierre & Miquelon</option>
          <option value="Saint Vincent and the Grenadines">St. Vincent & Grenadines</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Sao Tome and Principe">São Tomé & Príncipe</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Serbia">Serbia</option>
          <option value="Serbia and Montenegro">Serbia</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Singapore">Singapore</option>
          <option value="Sint Maarten">Sint Maarten</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Solomon Islands">Solomon Islands</option>
          <option value="Somalia">Somalia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Georgia and the South Sandwich Islands">South Georgia & South Sandwich Islands</option>
          <option value="South Sudan">South Sudan</option>
          <option value="Spain">Spain</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Svalbard and Jan Mayen">Svalbard & Jan Mayen</option>
          <option value="Swaziland">Eswatini</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syrian Arab Republic">Syria</option>
          <option value="Taiwan, Province of China">Taiwan</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania, United Republic of">Tanzania</option>
          <option value="Thailand">Thailand</option>
          <option value="Timor-Leste">Timor-Leste</option>
          <option value="Togo">Togo</option>
          <option value="Tokelau">Tokelau</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad and Tobago">Trinidad & Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Turks and Caicos Islands">Turks & Caicos Islands</option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States">United States</option>
          <option value="United States Minor Outlying Islands">U.S. Outlying Islands</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Viet Nam">Vietnam</option>
          <option value="Virgin Islands, British">British Virgin Islands</option>
          <option value="Virgin Islands, U.s.">U.S. Virgin Islands</option>
          <option value="Wallis and Futuna">Wallis & Futuna</option>
          <option value="Western Sahara">Western Sahara</option>
          <option value="Yemen">Yemen</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
        </datalist>
      </div>
    
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="address_1">Address 1</label>
          <input name="address_1" id="address_1" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="address_2">Address 2</label>
          <input name="address_2" id="address_2" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="city">City</label>
          <input name="city" id="city" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="state">State</label>
          <input name="state" id="state" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="zip">Zip Code</label>
          <input name="zip" id="zip" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="email">Email</label>
          <input name="email" id="email" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="phone">Phone</label>
          <input name="phone" id="phone" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="hours">Hours</label>
          <textarea name="hours" id="hours" class="Form__Input"></textarea>
        </div>
        
        <div class="form-item">
          <label class="headUp" for="hero_image">Hero Image</label>
          <input type="file" name="hero_image" id="hero_image" accept="*/image">
        </div>
      </div>
      
      <div class="form-item">
        <fieldset>
          <legend>
            What services does this location offer?
          </legend>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Body Contouring" id="body_contouring">
            <label for="body_contouring">Body Contouring</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Chemical Peels" id="chemical_peels">
            <label for="chemical_peels">Chemical Peels</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="CO2" id="co2">
            <label for="co2">CO2</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Cosmetic Surgery" id="cosmetic_surgery">
            <label for="cosmetic_surgery">Cosmetic Surgery</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Dermaplaning" id="dermaplaning">
            <label for="dermaplaning">Dermaplaning</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Dermatology" id="dermatology">
            <label for="dermatology">Dermatology</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Exosomes" id="exosomes">
            <label for="exosomes">Exosomes</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Fillers" id="fillers">
            <label for="fillers">Fillers</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="General Skincare" id="general_skincare">
            <label for="general_skincare">General Skincare</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Hair Treatments" id="hair_treatments">
            <label for="hair_treatments">Hair Treatments</label>
          </div>        
          <div class="service-item">
            <input type="checkbox" name="location_services" value="IPL" id="ipl">
            <label for="ipl">IPL</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Laser" id="laser">
            <label for="laser">Laser</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Laser Hair Removal" id="laser_hair_removal">
            <label for="laser_hair_removal">Laser Hair Removal</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Microneedling" id="microneedling">
            <label for="microneedling">Microneedling</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Neurotoxins" id="neurotoxins">
            <label for="neurotoxins">Neurotoxins</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Radiofrequency" id="radiofrequency">
            <label for="radiofrequency">Radiofrequency</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Tattoo Removal" id="tattoo_removal">
            <label for="tattoo_removal">Tattoo Removal</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Vaginal Rejuvenation" id="vaginal_rejuvenation">
            <label for="vaginal_rejuvenation">Vaginal Rejuvenation</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="location_services" value="Other" id="other">
            <label for="other">Other</label>
          </div>        
        </fieldset>
      </div>
      
      <input type="submit" value="Submit">
    </form>
  </div>

</div>

<div class="edit-location-modal modal-container">
  <button data-action="close-parent-modal">
    Close
  </button>
  <div class="Container Container--narrow">
    <h2 class="Heading u-h1">
      Edit Location
    </h2>
    <hr class="mt2 mb2">
    <form id="locator-location-edit" class="locator-location">
    
      <div class="form-item">
        <label class="headUp" for="edit-country">Country:</label>
        <input type="text" id="edit-country" list="edit-country-list" name="edit-country" placeholder="Country" class="Form__Input" required>
        <datalist id="edit-country-list">
          <option value="Afghanistan">Afghanistan</option>
          <option value="Aland Islands">Åland Islands</option>
          <option value="Albania">Albania</option>
          <option value="Algeria">Algeria</option>
          <option value="American Samoa">American Samoa</option>
          <option value="Andorra">Andorra</option>
          <option value="Angola">Angola</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antarctica">Antarctica</option>
          <option value="Antigua and Barbuda">Antigua & Barbuda</option>
          <option value="Argentina">Argentina</option>
          <option value="Armenia">Armenia</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">Australia</option>
          <option value="Austria">Austria</option>
          <option value="Azerbaijan">Azerbaijan</option>
          <option value="Bahamas">Bahamas</option>
          <option value="Bahrain">Bahrain</option>
          <option value="Bangladesh">Bangladesh</option>
          <option value="Barbados">Barbados</option>
          <option value="Belarus">Belarus</option>
          <option value="Belgium">Belgium</option>
          <option value="Belize">Belize</option>
          <option value="Benin">Benin</option>
          <option value="Bermuda">Bermuda</option>
          <option value="Bhutan">Bhutan</option>
          <option value="Bolivia">Bolivia</option>
          <option value="Bonaire, Sint Eustatius and Saba">Caribbean Netherlands</option>
          <option value="Bosnia and Herzegovina">Bosnia & Herzegovina</option>
          <option value="Botswana">Botswana</option>
          <option value="Bouvet Island">Bouvet Island</option>
          <option value="Brazil">Brazil</option>
          <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
          <option value="Brunei Darussalam">Brunei</option>
          <option value="Bulgaria">Bulgaria</option>
          <option value="Burkina Faso">Burkina Faso</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
          <option value="Cape Verde">Cape Verde</option>
          <option value="Cayman Islands">Cayman Islands</option>
          <option value="Central African Republic">Central African Republic</option>
          <option value="Chad">Chad</option>
          <option value="Chile">Chile</option>
          <option value="China">China</option>
          <option value="Christmas Island">Christmas Island</option>
          <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
          <option value="Colombia">Colombia</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo">Congo - Brazzaville</option>
          <option value="Congo, Democratic Republic of the Congo">Congo - Kinshasa</option>
          <option value="Cook Islands">Cook Islands</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cote D'Ivoire">Côte d’Ivoire</option>
          <option value="Croatia">Croatia</option>
          <option value="Cuba">Cuba</option>
          <option value="Curacao">Curaçao</option>
          <option value="Cyprus">Cyprus</option>
          <option value="Czech Republic">Czechia</option>
          <option value="Denmark">Denmark</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Dominica</option>
          <option value="Dominican Republic">Dominican Republic</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Egypt">Egypt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">Equatorial Guinea</option>
          <option value="Eritrea">Eritrea</option>
          <option value="Estonia">Estonia</option>
          <option value="Ethiopia">Ethiopia</option>
          <option value="Falkland Islands (Malvinas)">Falkland Islands (Islas Malvinas)</option>
          <option value="Faroe Islands">Faroe Islands</option>
          <option value="Fiji">Fiji</option>
          <option value="Finland">Finland</option>
          <option value="France">France</option>
          <option value="French Guiana">French Guiana</option>
          <option value="French Polynesia">French Polynesia</option>
          <option value="French Southern Territories">French Southern Territories</option>
          <option value="Gabon">Gabon</option>
          <option value="Gambia">Gambia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">Germany</option>
          <option value="Ghana">Ghana</option>
          <option value="Gibraltar">Gibraltar</option>
          <option value="Greece">Greece</option>
          <option value="Greenland">Greenland</option>
          <option value="Grenada">Grenada</option>
          <option value="Guadeloupe">Guadeloupe</option>
          <option value="Guam">Guam</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Guernsey">Guernsey</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guinea-Bissau</option>
          <option value="Guyana">Guyana</option>
          <option value="Haiti">Haiti</option>
          <option value="Heard Island and Mcdonald Islands">Heard & McDonald Islands</option>
          <option value="Holy See (Vatican City State)">Vatican City</option>
          <option value="Honduras">Honduras</option>
          <option value="Hong Kong">Hong Kong</option>
          <option value="Hungary">Hungary</option>
          <option value="Iceland">Iceland</option>
          <option value="India">India</option>
          <option value="Indonesia">Indonesia</option>
          <option value="Iran, Islamic Republic of">Iran</option>
          <option value="Iraq">Iraq</option>
          <option value="Ireland">Ireland</option>
          <option value="Isle of Man">Isle of Man</option>
          <option value="Israel">Israel</option>
          <option value="Italy">Italy</option>
          <option value="Jamaica">Jamaica</option>
          <option value="Japan">Japan</option>
          <option value="Jersey">Jersey</option>
          <option value="Jordan">Jordan</option>
          <option value="Kazakhstan">Kazakhstan</option>
          <option value="Kenya">Kenya</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Korea, Democratic People's Republic of">North Korea</option>
          <option value="Korea, Republic of">South Korea</option>
          <option value="Kosovo">Kosovo</option>
          <option value="Kuwait">Kuwait</option>
          <option value="Kyrgyzstan">Kyrgyzstan</option>
          <option value="Lao People's Democratic Republic">Laos</option>
          <option value="Latvia">Latvia</option>
          <option value="Lebanon">Lebanon</option>
          <option value="Lesotho">Lesotho</option>
          <option value="Liberia">Liberia</option>
          <option value="Libyan Arab Jamahiriya">Libya</option>
          <option value="Liechtenstein">Liechtenstein</option>
          <option value="Lithuania">Lithuania</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Macao">Macao</option>
          <option value="Macedonia, the Former Yugoslav Republic of">North Macedonia</option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">Malawi</option>
          <option value="Malaysia">Malaysia</option>
          <option value="Maldives">Maldives</option>
          <option value="Mali">Mali</option>
          <option value="Malta">Malta</option>
          <option value="Marshall Islands">Marshall Islands</option>
          <option value="Martinique">Martinique</option>
          <option value="Mauritania">Mauritania</option>
          <option value="Mauritius">Mauritius</option>
          <option value="Mayotte">Mayotte</option>
          <option value="Mexico">Mexico</option>
          <option value="Micronesia, Federated States of">Micronesia</option>
          <option value="Moldova, Republic of">Moldova</option>
          <option value="Monaco">Monaco</option>
          <option value="Mongolia">Mongolia</option>
          <option value="Montenegro">Montenegro</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Morocco">Morocco</option>
          <option value="Mozambique">Mozambique</option>
          <option value="Myanmar">Myanmar (Burma)</option>
          <option value="Namibia">Namibia</option>
          <option value="Nauru">Nauru</option>
          <option value="Nepal">Nepal</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Netherlands Antilles">Curaçao</option>
          <option value="New Caledonia">New Caledonia</option>
          <option value="New Zealand">New Zealand</option>
          <option value="Nicaragua">Nicaragua</option>
          <option value="Niger">Niger</option>
          <option value="Nigeria">Nigeria</option>
          <option value="Niue">Niue</option>
          <option value="Norfolk Island">Norfolk Island</option>
          <option value="Northern Mariana Islands">Northern Mariana Islands</option>
          <option value="Norway">Norway</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">Pakistan</option>
          <option value="Palau">Palau</option>
          <option value="Palestinian Territory, Occupied">Palestine</option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Papua New Guinea</option>
          <option value="Paraguay">Paraguay</option>
          <option value="Peru">Peru</option>
          <option value="Philippines">Philippines</option>
          <option value="Pitcairn">Pitcairn Islands</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Puerto Rico">Puerto Rico</option>
          <option value="Qatar">Qatar</option>
          <option value="Reunion">Réunion</option>
          <option value="Romania">Romania</option>
          <option value="Russian Federation">Russia</option>
          <option value="Rwanda">Rwanda</option>
          <option value="Saint Barthelemy">St. Barthélemy</option>
          <option value="Saint Helena">St. Helena</option>
          <option value="Saint Kitts and Nevis">St. Kitts & Nevis</option>
          <option value="Saint Lucia">St. Lucia</option>
          <option value="Saint Martin">St. Martin</option>
          <option value="Saint Pierre and Miquelon">St. Pierre & Miquelon</option>
          <option value="Saint Vincent and the Grenadines">St. Vincent & Grenadines</option>
          <option value="Samoa">Samoa</option>
          <option value="San Marino">San Marino</option>
          <option value="Sao Tome and Principe">São Tomé & Príncipe</option>
          <option value="Saudi Arabia">Saudi Arabia</option>
          <option value="Senegal">Senegal</option>
          <option value="Serbia">Serbia</option>
          <option value="Serbia and Montenegro">Serbia</option>
          <option value="Seychelles">Seychelles</option>
          <option value="Sierra Leone">Sierra Leone</option>
          <option value="Singapore">Singapore</option>
          <option value="Sint Maarten">Sint Maarten</option>
          <option value="Slovakia">Slovakia</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Solomon Islands">Solomon Islands</option>
          <option value="Somalia">Somalia</option>
          <option value="South Africa">South Africa</option>
          <option value="South Georgia and the South Sandwich Islands">South Georgia & South Sandwich Islands</option>
          <option value="South Sudan">South Sudan</option>
          <option value="Spain">Spain</option>
          <option value="Sri Lanka">Sri Lanka</option>
          <option value="Sudan">Sudan</option>
          <option value="Suriname">Suriname</option>
          <option value="Svalbard and Jan Mayen">Svalbard & Jan Mayen</option>
          <option value="Swaziland">Eswatini</option>
          <option value="Sweden">Sweden</option>
          <option value="Switzerland">Switzerland</option>
          <option value="Syrian Arab Republic">Syria</option>
          <option value="Taiwan, Province of China">Taiwan</option>
          <option value="Tajikistan">Tajikistan</option>
          <option value="Tanzania, United Republic of">Tanzania</option>
          <option value="Thailand">Thailand</option>
          <option value="Timor-Leste">Timor-Leste</option>
          <option value="Togo">Togo</option>
          <option value="Tokelau">Tokelau</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad and Tobago">Trinidad & Tobago</option>
          <option value="Tunisia">Tunisia</option>
          <option value="Turkey">Turkey</option>
          <option value="Turkmenistan">Turkmenistan</option>
          <option value="Turks and Caicos Islands">Turks & Caicos Islands</option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">Ukraine</option>
          <option value="United Arab Emirates">United Arab Emirates</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="United States">United States</option>
          <option value="United States Minor Outlying Islands">U.S. Outlying Islands</option>
          <option value="Uruguay">Uruguay</option>
          <option value="Uzbekistan">Uzbekistan</option>
          <option value="Vanuatu">Vanuatu</option>
          <option value="Venezuela">Venezuela</option>
          <option value="Viet Nam">Vietnam</option>
          <option value="Virgin Islands, British">British Virgin Islands</option>
          <option value="Virgin Islands, U.s.">U.S. Virgin Islands</option>
          <option value="Wallis and Futuna">Wallis & Futuna</option>
          <option value="Western Sahara">Western Sahara</option>
          <option value="Yemen">Yemen</option>
          <option value="Zambia">Zambia</option>
          <option value="Zimbabwe">Zimbabwe</option>
        </datalist>
      </div>
    
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="edit-address_1">Address 1</label>
          <input name="edit-address_1" id="edit-address_1" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="edit-address_2">Address 2</label>
          <input name="edit-address_2" id="edit-address_2" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="edit-city">City</label>
          <input name="edit-city" id="edit-city" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="edit-state">State</label>
          <input name="edit-state" id="edit-state" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="edit-zip">Zip Code</label>
          <input name="edit-zip" id="edit-zip" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="edit-email">Email</label>
          <input name="edit-email" id="edit-email" type="text" class="Form__Input">
        </div>
        
        <div class="form-item">
          <label class="headUp" for="edit-phone">Phone</label>
          <input name="edit-phone" id="edit-phone" type="text" class="Form__Input">
        </div>
      </div>
      
      <div class="form-group--line">
        <div class="form-item">
          <label class="headUp" for="edit-hours">Hours</label>
          <textarea name="edit-hours" id="edit-hours" class="Form__Input"></textarea>
        </div>
        
        <div class="form-item">
          <label class="headUp" for="edit-hero_image">Hero Image</label>
          <input type="file" name="edit-hero_image" id="edit-hero_image" accept="*/image">
        </div>
      </div>
      
      <div class="form-item">
        <fieldset>
          <legend>
            What services does this location offer?
          </legend>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Body Contouring" id="edit-body_contouring">
            <label for="edit-body_contouring">Body Contouring</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Chemical Peels" id="edit-chemical_peels">
            <label for="edit-chemical_peels">Chemical Peels</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="CO2" id="edit-co2">
            <label for="edit-co2">CO2</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Cosmetic Surgery" id="edit-cosmetic_surgery">
            <label for="edit-cosmetic_surgery">Cosmetic Surgery</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Dermaplaning" id="edit-dermaplaning">
            <label for="edit-dermaplaning">Dermaplaning</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Dermatology" id="edit-dermatology">
            <label for="edit-dermatology">Dermatology</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Exosomes" id="edit-exosomes">
            <label for="edit-exosomes">Exosomes</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Fillers" id="edit-fillers">
            <label for="edit-fillers">Fillers</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="General Skincare" id="edit-general_skincare">
            <label for="edit-general_skincare">General Skincare</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Hair Treatments" id="edit-hair_treatments">
            <label for="edit-hair_treatments">Hair Treatments</label>
          </div>        
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="IPL" id="edit-ipl">
            <label for="edit-ipl">IPL</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Laser" id="edit-laser">
            <label for="edit-laser">Laser</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Laser Hair Removal" id="edit-laser_hair_removal">
            <label for="edit-laser_hair_removal">Laser Hair Removal</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Microneedling" id="edit-microneedling">
            <label for="edit-microneedling">Microneedling</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Neurotoxins" id="edit-neurotoxins">
            <label for="edit-neurotoxins">Neurotoxins</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Radiofrequency" id="edit-radiofrequency">
            <label for="edit-radiofrequency">Radiofrequency</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Tattoo Removal" id="edit-tattoo_removal">
            <label for="edit-tattoo_removal">Tattoo Removal</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Vaginal Rejuvenation" id="edit-vaginal_rejuvenation">
            <label for="edit-vaginal_rejuvenation">Vaginal Rejuvenation</label>
          </div>
          <div class="service-item">
            <input type="checkbox" name="edit-location_services" value="Other" id="edit-other">
            <label for="edit-other">Other</label>
          </div>        
        </fieldset>
      </div>
      
      <input type="submit" value="Submit">
    </form>
  </div>

</div>

<script>
  // NOTES: Need to conditionally display preview image if file input exists. In this case, HIDE input. 
  //        Otherwise, show input.
  //        In formData compilation, remove image input if no value is set ??


  let locationsJson = JSON.parse(`{{ customer.metafields.practice.locations_json }}`);

  // Form Validation
  function getRequiredFields(formItem) {
    let requiredFields = [];
    let requiredInputs = formItem.querySelectorAll('input:required');
    requiredInputs.forEach(input => {
      requiredFields.push(input)
    })
    let requiredAreas = formItem.querySelectorAll('textarea:required');
    requiredAreas.forEach(textarea => {
      requiredFields.push(textarea)
    })
    let requiredSelects = formItem.querySelectorAll('select:required');
    requiredSelects.forEach(select => {
      requiredFields.push(select)
    })
    return requiredFields
  }

  function getFormFields(formItem) {
    let fields = [];
    let inputs = formItem.querySelectorAll('input');
    inputs.forEach(input => {
      fields.push(input)
    })
    let areas = formItem.querySelectorAll('textarea');
    areas.forEach(textarea => {
      fields.push(textarea)
    })
    let selects = formItem.querySelectorAll('select');
    selects.forEach(select => {
      fields.push(select)
    })
    return fields
  }

  function validateInputs() {
    let form = this.closest('form');
    let requiredFields = getRequiredFields(form);
    let submitButton = form.querySelector('button[type="submit"]');
    let validCount = 0;
    for (let i = 0; i < requiredFields.length; i++) {
      if (!requiredFields[i].value) {
        break
      } else {
        validCount += 1
      }
    }
    if (validCount === requiredFields.length) {
      submitButton.disabled = false
    } else {
      submitButton.disabled = true
    }
  }

  function matchContentValue(evt) {
    let parent = evt.target.closest('.form-item');
    let contentId = evt.target.getAttribute('data-input-controller');
    let hiddenInput = parent.querySelector(`[name=${contentId}]`);
    let newValue = evt.target.innerHTML.trim();
    newValue = newValue.replace('<div class="metafield-rich_text_field">', '');
    newValue = newValue.replace('</div>', '');
    newValue = newValue.replace('<span class="metafield-multi_line_text_field">', '');
    newValue = newValue.replace('</span>', '');
    hiddenInput.value = newValue
    hiddenInput.textContent = newValue
    let changeEvent = new Event('change');
    hiddenInput.dispatchEvent(changeEvent)
  }

  function initRichTextInputs() {
    let editableInputs = document.querySelectorAll('[contenteditable="true"]');
    editableInputs.forEach(field => {
      field.addEventListener('input', (event) => {
        matchContentValue(event)
      })
      field.addEventListener('focus', function() {
        field.classList.remove('placeholder-shown')
      })
    })
  }

  function initImageUploaders() {
    let imageUploaders = document.querySelectorAll('input[type="file"][accept="*/image"]');
    imageUploaders.forEach(imageInput => {
      imageInput.addEventListener('change', function(event) {
        let image = event.target.files[0];
        let imageUrl = URL.createObjectURL(image);
        let parent = this.closest('[data-type="image-upload-group"]');
        let canvas = parent.querySelector('img');
        let button = parent.querySelector('.Button');
        button.textContent = "Replace";
        canvas.src = imageUrl;
        parent.querySelector('.image-preview--wrapper').classList.remove('hidden');
      })
    })
  }

  function removeImage() {
    let parent = this.closest('.form-item');
    let input = parent.querySelector('input[type="file"]');
    let preview = parent.querySelector('.image-preview--wrapper');
    let button = parent.querySelector('.Button');
    button.textContent = 'Upload'
    preview.classList.add('hidden');
    input.value = null;
    this.classList.add('hidden');
    let removeImageInput = parent.querySelector('input[type="checkbox"]');
    removeImageInput.checked = true;
  }

  function initImageRemovers() {
    let imageRemovers = document.querySelectorAll('button[data-option-control="logo-remove"]');
    imageRemovers.forEach(remover => {
      remover.addEventListener('click', removeImage)
    })
  }

  function initFormValidation() {
    initRichTextInputs()
    initImageUploaders()
    initImageRemovers()
    let forms = document.querySelectorAll('form[data-form-validate="true"]');
    forms.forEach(form => {
      let fields = getFormFields(form);
      fields.forEach(field => {
        field.addEventListener('change', validateInputs)
      })
    })
  }

  document.addEventListener('DOMContentLoaded', initFormValidation);

  // Modals & functionality

  function getLocations() {
    return document.querySelectorAll('.location-edit');
  }
  
  function getCloseButtons() {
    return document.querySelectorAll('[data-action="close-parent-modal"]');
  }
  
  function closeFormModal() {
    let parent = this.closest('.modal-container')
    parent.classList.remove('visible')
  }

  function showEditModal() {
    let editLocationModal = document.querySelector('.edit-location-modal');
    let contentId = this.getAttribute('data-edit-target');
    let json = locationsJson.find(location => location.location_id === contentId);
    populateEditForm(json)
    editLocationModal.classList.add('visible');
  }

  // Populate edit form on open
  function populateEditForm(content) {
    let editLocationModal = document.querySelector('.edit-location-modal');
    let form = editLocationModal.querySelector('form');
    let allFields = [];
    let fields = form.querySelectorAll('input[type="text"]');
    fields.forEach(field => {
      allFields.push(field)
    })
    // NEED SOLUTION FOR IMAGE / FILE HANDLING
    // allFields.push(form.querySelector('input[type="file"]'));
    allFields.push(document.getElementById('edit-hours'));
    for (let i = 0; i < allFields.length; i++) {
      let field = allFields[i];
      let fieldkey = field.name.replace('edit-', '');
      console.log(fieldkey)
      if (content[fieldkey]) {
        field.value = content[fieldkey]
      }
    }
    let serviceOptions = form.querySelectorAll('input[type="checkbox"]');
    serviceOptions.forEach(option => {
      if (content.services.includes(option.value)) {
        option.checked = true
      }
    })
  }

  function initModalFunctionality() {
    let triggerAddLocation = document.querySelector('.new-location');
    let addLocationForm = document.querySelector('.add-location-modal');
    let editLocationForm = document.querySelector('.edit-location-modal');
    let locationItems = getLocations();
    let modalCloseTriggers = getCloseButtons();

    locationItems.forEach(item => {
      item.addEventListener('click', showEditModal)
    })
    
    triggerAddLocation.addEventListener('click', function() {
      addLocationForm.classList.add('visible')
    })
    
    modalCloseTriggers.forEach(button => {
      button.addEventListener('click', closeFormModal);
    })
  }

  document.addEventListener('DOMContentLoaded', initModalFunctionality)

  function formSuccess(data) {
    console.log(data)
  }

  function formError(data) {
    console.log(data)
  }

  async function submitPracticeForm(form) {
    let submitButton = form.querySelector('button[type="submit"]');
    submitButton.disabled = true;
    submitButton.textContent = 'Please Wait';

    let formData = new FormData(form);
    formData.append('customer_id', '{{ customer.id }}')
    formData.append('customer_email', '{{ customer.email }}')
    let params = {
      method: 'POST',
      body: formData
    }

    let endpoint = 'https://en4jhrdwzz30916.m.pipedream.net';

    await fetch(endpoint, params)
      .then(response => formSuccess(response))
      .catch(error => formFail(error));

  }

  function initPracticeListener() {
    let form = document.getElementById('locator-practice');
    form.addEventListener('submit', function() {
      event.preventDefault();
      submitPracticeForm(this)
    })
  }

  document.addEventListener('DOMContentLoaded', initPracticeListener)
</script>