{% assign has_practice_data = false %}
{% if customer.metafields.practice.name != blank and customer.metafields.practice.type != blank and customer.metafields.practice.short_description != blank and customer.metafields.practice.full_description != blank and customer.metafields.practice.website != blank %}
  {% assign has_practice_data = true %}
{% endif %}

<div class="Container Container--narrow locator-details">
  <header class="PageHeader mb0">
    <a href="/account/" class="PageHeader__Back Heading Text--subdued Link Link--primary u-h7">Back to account</a>

    <div class="SectionHeader mb0">
      <h1 class="SectionHeader__Heading Heading u-h1">Provider Locator Information</h1>
    </div>
  </header>
  <p class="mt1 mb2">{{ page.content }}</p>

  <div class="details-panel mt4">
    <h2 class="SectionHeader__Heading Heading u-h1">Practice Information</h2>
    <hr class="mt2 mb2">

    {% render 'form-locator-practice' %}
  </div>

  {% if has_practice_data %}
    <div class="details-panel">
      <h2 class="SectionHeader__Heading Heading u-h1">Locations</h2>
      <hr class="mt2 mb2">
      <div class="locations-wrapper">
        {% for location in customer.metafields.practice.locations_json.value %}
          <div class="location-item">
            <div class="location-image--outer">
              <div class="location-image--wrap{% unless location.hero_image != blank %} placeholder-image{% endunless %}">
                {% if location.hero_image != blank %}
                  <img src="{{ location.hero_image }}">
                {% else %}
                  <h3 class="Heading u-h2 mt0 mb0 centerContents">Click Edit Upload Your Image...</h3>
                {% endif %}
              </div>
            </div>
            <div class="mt1">
              <h3 class="Heading u-h2 mb0">{{ customer.metafields.practice.name }} - {{ location.city }}</h3>
              <div class="location-address--details">{{ location.address_1 }}{% if location.address_2 %} {{ location.address_2 }}{% endif %}</div>
              <div class="location-address--details">{{ location.city }}, {{ location.state }} {{ location.zip }}</div>
              <div class="location-address--details">{{ location.country }}</div>
              {% if location.location_id and location.location_id != 'pending' %}
                <button class="Button Button--primary location-edit mt1" data-edit-target="{{ location.location_id }}">
                  Edit
                </button>
              {% else %}
                <div class="Button Button--stroke mt1">
                  Location Processing
                </div>
              {% endif %}
            </div>
          </div>
        
        {% endfor %}

        <div class="location-item new-location">
          <h3 class="Heading u-h1">+<br>Add A Location</h3>
        </div>

      </div>
    </div>
  {% endif %}
</div> 

<div class="add-location-modal modal-container">
  <div class="Drawer__Close" data-action="close-parent-modal">
    {%- render 'icon' with 'search' -%}
  </div>
  {% comment %} <button data-action="close-parent-modal">
    Close
  </button> {% endcomment %}

  <div class="Container Container--narrow">
    <h2 class="Heading u-h1">
      Add A Location
    </h2>
    <hr class="mt2 mb2">
    {% render 'form-locator-new-location' %}
  </div>

</div>

<div class="edit-location-modal modal-container">
  <div class="Drawer__Close" data-action="close-parent-modal">
    {%- render 'icon' with 'search' -%}
  </div>
  {% comment %} <button data-action="close-parent-modal">
    Close
  </button> {% endcomment %}
  <div class="Container Container--narrow">
    <h2 class="Heading u-h1 mb0">
      Edit Location
    </h2>
    <p class="mt0">Note: You cannot edit an address the location has been created. If you have moved or closed this location, please select the option below to <strong>Delete</strong> the location.</p>
    <hr class="mt2 mb2">
    {% render 'form-locator-edit-location' %}
  </div>

</div>

<div class="modal-container delete--confirmation">
  <button data-action="close-parent-modal">
    Close
  </button>
  <div class="Container Container--narrow centerContents">
    <h2 class="Heading u-h1 mb0">
      Are you sure you'd like to delete this location?
    </h2>
    <p class="mt0">This action cannot be reversed.</p>
    
    <button class="Button Button--primary" data-action="close-parent-modal">Cancel</button>
    <button class="Button Button--stroke" data-action="confirm-location-delete">Confirm</button>
  </div>

</div>

<script>

  // PENDING TASKS:
    // URL VALIDATION FOR WEBSITE / SHOP ONLINE
    // EMAIL VALIDATION
    // PHONE VALIDATION
    // MODAL FORM STYLING
    // CREATE / EDIT ENDPOINTS
    // HUBSPOT DATA EXCHANGE

  let locationsJson = JSON.parse(`{{ customer.metafields.practice.locations_json }}`);

  let stateLists = {
    united_states: ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Minor Outlying Islands', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'U.S. Virgin Islands', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
    canada: ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Nova Scotia', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Northwest Territories', 'Nunavut', 'Yukon']
  }

  let endpoints = [
    {
      'form_id': 'locator-practice',
      'url': 'https://en4jhrdwzz30916.m.pipedream.net'
    },
    {
      'form_id': 'locator-location-edit',
      'url': 'https://en6olnofr3qyio0.m.pipedream.net'
    },
    {
      'form_id': 'locator-location-add',
      'url': 'https://enzc0td4r99cahp.m.pipedream.net'
    }
  ]

  // Form Validation
  function getRequiredFields(formItem) {
    let requiredFields = [];
    let requiredInputs = formItem.querySelectorAll('input:required');
    requiredInputs.forEach(input => {
      requiredFields.push(input)
    })
    let requiredAreas = formItem.querySelectorAll('textarea:required');
    requiredAreas.forEach(textarea => {
      requiredFields.push(textarea)
    })
    let requiredSelects = formItem.querySelectorAll('select:required');
    requiredSelects.forEach(select => {
      requiredFields.push(select)
    })
    return requiredFields
  }

  function getFormFields(formItem) {
    let fields = [];
    let inputs = formItem.querySelectorAll('input');
    inputs.forEach(input => {
      fields.push(input)
    })
    let areas = formItem.querySelectorAll('textarea');
    areas.forEach(textarea => {
      fields.push(textarea)
    })
    let selects = formItem.querySelectorAll('select');
    selects.forEach(select => {
      fields.push(select)
    })
    return fields
  }

  function validateInputs() {
    let form = this.closest('form');
    let requiredFields = getRequiredFields(form);
    let submitButton = form.querySelector('button[type="submit"]');
    let validCount = 0;
    for (let i = 0; i < requiredFields.length; i++) {
      if (!requiredFields[i].value) {
        break
      } else {
        validCount += 1
      }
    }
    if (validCount === requiredFields.length) {
      submitButton.disabled = false
    } else {
      submitButton.disabled = true
    }
  }

  function matchContentValue(evt) {
    let parent = evt.target.closest('.form-item');
    let contentId = evt.target.getAttribute('data-input-controller');
    let hiddenInput = parent.querySelector(`[name=${contentId}]`);
    let newValue = evt.target.innerHTML.trim();
    newValue = newValue.replace('<div class="metafield-rich_text_field">', '');
    newValue = newValue.replace('</div>', '');
    newValue = newValue.replace('<span class="metafield-multi_line_text_field">', '');
    newValue = newValue.replace('</span>', '');
    hiddenInput.value = newValue
    hiddenInput.textContent = newValue
    let changeEvent = new Event('change');
    hiddenInput.dispatchEvent(changeEvent)
  }

  function initRichTextInputs() {
    let editableInputs = document.querySelectorAll('[contenteditable="true"]');
    editableInputs.forEach(field => {
      field.addEventListener('input', (event) => {
        matchContentValue(event)
      })
      field.addEventListener('focus', function() {
        field.classList.remove('placeholder-shown')
      })
    })
  }

  function changeEvent(target) {
    let changeEvent = new Event('change');
    target.dispatchEvent(changeEvent)
  }

  function checkImageSize(image) {
    if (image.size > 2000000) {
      return false
    } else {
      return true
    }
  }

  function initImageUploaders() {
    let imageUploaders = document.querySelectorAll('input[type="file"][accept="*/image"]');
    imageUploaders.forEach(imageInput => {
      imageInput.addEventListener('change', function(event) {
        let valid = checkImageSize(event.target.files[0]);
        if (valid) {
          let image = event.target.files[0];
          let imageUrl = URL.createObjectURL(image);
          let parent = this.closest('[data-type="image-upload-group"]');
          let canvas = parent.querySelector('img');
          let button = parent.querySelector('.Button');
          button.textContent = "Replace";
          canvas.src = imageUrl;
          parent.querySelector('.image-preview--wrapper').classList.remove('hidden');
          let removeButton = parent.querySelector('button[data-option-control="logo-remove"]');
          removeButton.classList.remove('hidden');
          let removeImageInput = parent.querySelector('input[type="checkbox"]');
          removeImageInput.checked = false;
          changeEvent(removeImageInput)
        } else {
          alert("Please select a file that is 2MB or smaller.");
          imageInput.value = ''
        }
      })
    })
  }

  function removeImage(evt) {
    let parent = evt.target.closest('.form-item');
    let input = parent.querySelector('input[type="file"]');
    let preview = parent.querySelector('.image-preview--wrapper');
    let button = parent.querySelector('.Button');
    button.textContent = 'Upload'
    preview.classList.add('hidden');
    input.value = null;
    evt.target.classList.add('hidden');
    let removeImageInput = parent.querySelector('input[type="checkbox"]');
    removeImageInput.checked = true;
    changeEvent(removeImageInput)
  }

  function initImageRemovers() {
    let imageRemovers = document.querySelectorAll('button[data-option-control="logo-remove"]');
    imageRemovers.forEach(remover => {
      remover.addEventListener('click', function(event) {
        event.preventDefault();
        removeImage(event);
      })
    })
  }

  function initFormValidation() {
    initRichTextInputs()
    initImageUploaders()
    initImageRemovers()
    let forms = document.querySelectorAll('form[data-form-validate="true"]');
    forms.forEach(form => {
      let fields = getFormFields(form);
      fields.forEach(field => {
        field.addEventListener('change', validateInputs)
      })
    })
  }

  document.addEventListener('DOMContentLoaded', initFormValidation);

  // Modals & functionality

  function getLocations() {
    return document.querySelectorAll('.location-edit');
  }
  
  function getCloseButtons() {
    return document.querySelectorAll('[data-action="close-parent-modal"]');
  }
  
  function closeFormModal() {
    let parent = this.closest('.modal-container')
    parent.classList.remove('visible')
    document.querySelector('html').classList.remove('no-scroll');
  }

  function showEditModal() {
    document.querySelector('html').classList.add('no-scroll');
    let editLocationModal = document.querySelector('.edit-location-modal');
    let contentId = this.getAttribute('data-edit-target');
    let json = locationsJson.find(location => location.location_id === contentId);
    populateEditForm(json)
    editLocationModal.classList.add('visible');
  }

  // Populate edit form on open
  function populateEditForm(content) {
    let editLocationModal = document.querySelector('.edit-location-modal');
    let form = editLocationModal.querySelector('form');
    let allFields = [];
    let deleteButton = editLocationModal.querySelector('[data-action="delete-location"]');
    if (deleteButton) {
      deleteButton.setAttribute('data-location-id', content.location_id)
    }
    let fields = form.querySelectorAll('input[type="text"]');
    fields.forEach(field => {
      allFields.push(field)
    })
    allFields.push(document.getElementById('edit-hours'));
    for (let i = 0; i < allFields.length; i++) {
      let field = allFields[i];
      let fieldkey = field.name.replace('edit-', '');
      if (content[fieldkey]) {
        field.value = content[fieldkey]
      }
    }
    if (content['hero_image']) {
      let parent = form.querySelector('[data-type="image-upload-group"]');
      let image = parent.querySelector('img');
      image.src = content['hero_image'];
    } else {
      let parent = form.querySelector('[data-type="image-upload-group"]');
      let preview = parent.querySelector('.image-preview--wrapper');
      preview.classList.add('hidden')
    }
    let serviceOptions = form.querySelectorAll('input[type="checkbox"]');
    serviceOptions.forEach(option => {
      if (content.services.includes(option.value)) {
        option.checked = true
      }
    })
  }

  function updateStateOptions() {
    let form = this.closest('form');
    let stateInput = form.querySelector('[data-item-type="state"]');
    let parent = stateInput.closest('.form-item')
    let label = parent.querySelector('label');
    let itemId = stateInput.id
    stateInput.remove();
    let key = this.value.toLowerCase().replaceAll(' ', '_');
    let stateList = stateLists[key];
    if (stateList) {
      let stateSelect = document.createElement('select');
      stateSelect.id = itemId;
      stateSelect.name = itemId;
      stateSelect.setAttribute('data-item-type', 'state');
      stateSelect.classList.add('Form__Input');
      stateInput.required = true
      label.textContent = 'State*'
      for (let i = 0; i < stateLists[key].length; i++) {
        if (i === 0) {
          let placeholderOption = document.createElement('option');
          placeholderOption.innerHTML = 'Choose one...';
          placeholderOption.disabled = true
          placeholderOption.selected = true
          stateSelect.appendChild(placeholderOption)
        }
        let dataOption = document.createElement('option');
        dataOption.value = stateLists[key][i];
        dataOption.innerHTML = stateLists[key][i];
        stateSelect.appendChild(dataOption)
      }
      parent.appendChild(stateSelect)
    } else {
      let stateInput = document.createElement('input');
      stateInput.type = "text"
      stateInput.id = itemId;
      stateInput.name = itemId;
      stateInput.classList.add('Form__Input');
      stateInput.setAttribute('data-item-type', 'state');
      label.textContent = "State"
      parent.appendChild(stateInput)
    }
  }

  function initModalFunctionality() {
    let triggerAddLocation = document.querySelector('.new-location');
    let addLocationForm = document.querySelector('.add-location-modal');
    let editLocationForm = document.querySelector('.edit-location-modal');
    let locationItems = getLocations();
    let modalCloseTriggers = getCloseButtons();
    let countrySelectors = document.querySelectorAll('[data-controller-type="country"]')

    locationItems.forEach(item => {
      item.addEventListener('click', showEditModal)
    })
    
    triggerAddLocation.addEventListener('click', function() {
      addLocationForm.classList.add('visible')
      document.querySelector('html').classList.add('no-scroll');
    })
    
    modalCloseTriggers.forEach(button => {
      button.addEventListener('click', closeFormModal);
    })

    countrySelectors.forEach(input => {
      input.addEventListener('change', updateStateOptions)
    })
  }

  document.addEventListener('DOMContentLoaded', initModalFunctionality)

  function destroyNotice() {
    let displayedNotice = document.querySelector('[data-content-type="snackbar"]');
    displayedNotice.classList.remove('display-snackbar');
    setTimeout(function() {
      displayedNotice.remove();
    }, 250)
  }

  function createNotice(type) {
    let notice = document.createElement('div');
    notice.classList.add('snackbar-main');
    notice.setAttribute('data-content-type', 'snackbar')
    if (type === 'success') {
      notice.innerHTML = `<h2 class="Heading u-h2 mt0">Success</h2><p class="mt1 mb0">Your updates have been saved successfully.</p>`
    } else if (type === 'error') {
      notice.classList.add('status--error')
      notice.innerHTML = `<h2 class="Heading u-h2 mt0">Error</h2><p class="mt1 mb0">The system ran into an issue applying your updates, please reload this page and try again.</p>`
    } else {
      notice.innerHTML = `<h2 class="Heading u-h2 mt0">Updating Your Profile</h2><p class="mt1 mb0">Please wait while we update your profile...</p>`
    }
    document.querySelector('body').appendChild(notice);
    setTimeout(function() {
      notice.classList.add('display-snackbar')
    }, 50)
  }

  function formSuccess(target) {
    destroyNotice()
    if (target) {
      let button = target.querySelector('button[type="submit"]');
      button.textContent = 'Save Updates';
    }
    createNotice('success')
    // Reload the page to refresh data
    setTimeout(function() {
      window.location.reload(true);
    }, 1500)
  }

  function formError(data) {
    destroyNotice()
    let button = target.querySelector('button[type="submit"]');
    button.textContent = 'Save Updates';
    createNotice('error')
    setTimeout(destroyNotice, 4000)
  }

  async function submitPracticeForm(form) {
    // Set the endpoint based on which form was submitted
    let endpointObject = endpoints.find(option => option.form_id === form.id);
    if (!endpointObject) {
      return
    }
    endpoint = endpointObject.url

    // Update the submit button
    let submitButton = form.querySelector('button[type="submit"]');
    submitButton.disabled = true;
    submitButton.textContent = 'Please Wait';   

    // Create snackbar notification
    createNotice('updating') 

    // Prepare the form data
    let formData = new FormData(form);
    formData.append('customer_id', '{{ customer.id }}')
    formData.append('customer_email', '{{ customer.email }}')
    let imageCheckbox = form.querySelector('[data-option-for="remove_image"]')
    if (imageCheckbox) {
      if (imageCheckbox.checked) {
        formData.append('remove_image', true)
      } else {
        formData.append('remove_image', false)
      }
    }
    if (form.id !== 'locator-practice') {
      let queryName = 'location_services'
      if (form.id === 'locator-location-edit') {
        queryName = 'edit-' + queryName
      }
      let servicesString = '';
      let checkedServices = form.querySelectorAll(`input[name=${queryName}]:checked`);
      for (let i = 0; i < checkedServices.length; i++) {
        let service = checkedServices[i];
        servicesString += service.value;
        if (i !== checkedServices.length - 1) {
          servicesString += ';'
        }
      }
      formData.set(queryName, servicesString)
    }

    // Continued preparation - ensure proper formatting of urls for url type metafields
    if (form.id === 'locator-practice') {
      let websiteInput = formData.get('website');
      if (websiteInput) {
        if (!/^https?:\/\//i.test(websiteInput)) {
          formData.set('website', `https://${websiteInput}`);
        }
      }
      let onlineSalesInput = formData.get('online_sales_link');
      if (onlineSalesInput) {
        if (!/^https?:\/\//i.test(onlineSalesInput)) {
          formData.set('online_sales_link', `https://${onlineSalesInput}`);
        }
      }
    }

    if (form.id === 'locator-location-edit') {
      formData.set('location_id', form.querySelector('[name="edit-location_id"]').value);
    }

    // Set post data
    let params = {
      method: 'POST',
      body: formData
    }

    // Make the call
    await fetch(endpoint, params)
      .then(response => formSuccess(form))
      .catch(error => formError(form));
  }

  function initSubmitListeners() {
    let forms = document.querySelectorAll('form[data-form-type="locator-update"]');
    forms.forEach(form => {
      form.addEventListener('submit', function() {
        event.preventDefault();
        submitPracticeForm(this)
      })
    })
  }

  document.addEventListener('DOMContentLoaded', initSubmitListeners)

  function initDeleteConfirm(target) {
    let deleteConfirmation = document.querySelector('.delete--confirmation');
    let confirmButton = deleteConfirmation.querySelector('[data-action="confirm-location-delete"]')
    confirmButton.setAttribute('data-location-id', target.getAttribute('data-location-id'));
    deleteConfirmation.classList.add('visible')
  }

  function initDeleteButtons() {
    let deleteTriggers = document.querySelectorAll('[data-action="delete-location"]');
    deleteTriggers.forEach(trigger => {
      trigger.addEventListener('click', function(event) {
        event.preventDefault();
        initDeleteConfirm(this)
      })
    })
  }

  async function deleteLocation() {
    let locationId = this.getAttribute('data-location-id');
    createNotice('updating');

    let endpoint = 'https://en29my2nm3bfav.m.pipedream.net'

    let data = {
      'location_id': locationId,
      'customer_id': '{{ customer.id }}',
      'customer_email': '{{ customer.email }}'
    }

    // Set post data
    let params = {
      method: 'POST',
      body: JSON.stringify(data)
    }

    // Make the call
    await fetch(endpoint, params)
      .then(response => formSuccess())
      .catch(error => formError());

  }

  function initDeleteConfirmation() {
    let deleteConfirmationTrigger = document.querySelector('[data-action="confirm-location-delete"]')
    ?.addEventListener('click', deleteLocation)
  }

  document.addEventListener('DOMContentLoaded', initDeleteButtons)
  document.addEventListener('DOMContentLoaded', initDeleteConfirmation)
</script>